<!DOCTYPE html>
<html>
    <head>
        <title>POWER MOVE DETECTOR</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <script src="JS/js.js"></script>
    </head>
	<body>
		<div>
			<header id="header">
				<h1>
					<a href="index.html">POWER METER</a>
				</h1>
			</header>
		</div>
		<div class="lot">
			<div class="spotleft">
			</div>
			<div class="spots" id="b">
			</div>
			<div class="spots">
			</div>
			<div class="spots">
			</div>
			<div class="spots">
			</div>
			<div class="spots">
			</div>
			<div class="spots">
			</div>
			<div class="spots">
			</div>
			<div class="spots">
			</div>
			<div class="spots">
			</div>
			<div class="spots">
			</div>
			<div class="spots">
			</div>
			<div class="spots">
			</div>
			<div class="spotright">
			</div>
		</div>
		<script type="text/javascript">window.onload = boot</script>
	</body>
</html>
